n8n-majorka-agent.json
{
  "name": "Majorka Chat Agent",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "majorka-chat-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "majorka-chat",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2048,\n  system: 'You are Majorka AI — a sharp, practical ecommerce business advisor for Australian entrepreneurs. You specialise in product research, idea validation, supplier sourcing, marketing strategy, and scaling ecommerce stores in the Australian market. You understand Australian consumer behaviour, GST, shipping costs, and local platforms like Afterpay and Australia Post. Keep answers concise, direct, and actionable. Skip filler. Talk like a co-founder, not a consultant.',\n  messages: [{ role: 'user', content: $json.body.message || $json.body.chatInput || $json.body.text || 'Hello' }]\n}) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.content[0].text, model: $json.model, inputTokens: $json.usage.input_tokens, outputTokens: $json.usage.output_tokens } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "notes": "POST to http://localhost:5678/webhook/majorka-chat with JSON body { \"message\": \"your question\" }. Requires ANTHROPIC_API_KEY set in n8n environment (.env.n8n)."
  }
}
